<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
        <h:panelGrid columns="2" >
            <h:outputLabel value="ID Usuario: " />
            <h:inputText value="#{userController.user.iduser}" />
            <h:outputLabel value="Nombre :"/>
            <h:inputText value="#{userController.user.username}"/>
            <h:outputLabel value="Contraseña : "/>
            <h:inputText required="true" 
            <h:outputLabel value="Description : "/>
            <h:inputTextarea value="" cols="20" rows="5"/>
            <h:outputLabel value="Number of pages : "/>
            <h:inputText value=""/>
            <h:outputLabel value="Illustrations : "/>
            <h:selectBooleanCheckbox value=""/>
        </h:panelGrid>
        <h:commandButton value="Create a book" action="../index.xhtml"/>
        </h:form>
    </h:body>
</html>

